/* Customizarea pozei si al link-ului pt.rosfil */

.profile-pic-small {
    max-width: 100px; /* Ajustarea domensiunii pozei */
    max-height: 100px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    margin-right: 10px;
}

.profile-details {
    flex-grow: 1; /* Asta va face ca detaliile profilului să ocupe spațiul disponibil */
}

/* Customizarea culorii de fundal a editorului */
.custom-bg-color {
    background-color: #1a1a1a; /* Schimbă această valoare cu culoarea dorită */
}

.custom-small-image {
    max-width: 100px; /* Schimbă această valoare cu lățimea dorită */
    max-height: 100px; /* Schimbă această valoare cu înălțimea dorită */
}

.text-custom {
    color: darkorange; /* Schimbă această valoare cu culoarea dorită */
}

.custom-hr {
    border-top: 2px solid darkorange; /* Schimbă culoarea și grosimea liniei după preferințe */
    margin-top: 20px; /* Adaugă un spațiu între linii */
    margin-bottom: 20px; /* Adaugă un spațiu între linii */
}

.custom-header {
    border-bottom: none; /* Schimbă culoarea și grosimea liniei de subtitlu */
}

.custom-line {
    border-bottom: 2px solid darkorange; /* Adaugă o linie personalizată */
}

.container.py-4.custom-bg-color {
    margin-top: -20px; /* Reducem spațiul de deasupra */
}


/*BUTOANE*/


/* Background negru cu margini albastre pentru butoane */
.btn {

    position: relative;
    background: darkorange;
    color: darkorange;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px; /* Mărimea fontului a fost setată la 10px */
    letter-spacing: 3px;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.btn:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

.btn:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #1a1a1a;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn i {
    position: absolute;
    inset: 0;
    display: block;
}

.btn i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #1a1a1a;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.btn:hover i::before {
    width: 20px;
    left: 20%;
}

.btn i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #1a1a1a;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;

}

.btn:hover i::after {
    width: 20px;
    left: 80%;
}


.custom-link {
    text-decoration: none;
}

.custom-link .custom-hover {
    font-weight: bold;
}

.custom-link:hover .custom-hover {
    color: darkorange; /* Culorea textului la hover */
}

.login-link:hover {
    font-weight: bold;
    color: darkorange; /* Schimbă culoarea la hover */
}

