/* Stiluri pentru șablonul de resetare a parolei trimis */

.password-reset-sent-container {
    text-align: center; /* Aliniere text în mijloc */
    margin-top: 50px; /* Spațiere deasupra containerului pentru a-l plasa mai sus */
}

.password-reset-sent-container p {
    margin-bottom: 20px; /* Spațiere mai mică între paragrafe */
}

.password-reset-sent-container a {
    text-decoration: none; /* Elimină sublinierea de sub link */
}

.password-reset-sent-container a:hover {
    color: darkorange; /* Schimbă culoarea linkului la hover */
}