{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">

<div class="content-container"> <!-- Adăugăm clasa CSS .content-container aici -->
    <h1>Edit Settings...</h1>
    <br/><br/>

    {{ user.profile.bio }}

    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn" style="--clr:#007BFFFF"><span>Update Settings</span><i></i></button>
        </form>
    </div>
</div> <!-- Închidem div-ul .content-container -->

{% endblock %}

