{% extends 'base.html' %}
{% block title %}Create A New Blog Post{% endblock %}
{% load static %}
{#{% load bootstrap5 %}#}
{% load crispy_forms_filters%}
{#{% bootstrap_css %}#}
{% block content %}

<link rel="stylesheet" href="{% static 'css/add_post.css' %}">

{% if user.is_authenticated %}
    <h1>Add Post...</h1>
    <br><br>
    <div >
        <div class="text-center">
            <form method="POST" enctype="multipart/form-data" class="d-inline-block">
                {% csrf_token %}
                {{ form|crispy }}
                {{ form.media }}
                <button type="submit" class="btn" style="--clr:#007BFFFF"><span>Post</span><i></i></button>

            </form>
        </div>
    </div>
    <script>
    var name = "{{ user.id }}";
    document.getElementById("andrei").value=name;
    </script>

{% else %}
    You are not allowed here!!! Please Register/Login!
{% endif %}

{% endblock %}
